build/
build-debug/
*build/
*.user
*.idea
*~
bin/lin-x86_64/*
bin/mac-x86_64/ambf_simulator
bin/mac-x86_64/loader_test
bin/mac-x86_64/math_test
bin-debug/
*.autosave
*.pyc
*.bin
*.ipch
\.vscode/
*.blend1
*.old
