libglvnd0
libgl1
libglx0
libegl1
pkg-config
libglvnd-dev
libxext6
libx11-6
libegl1-mesa-dev
build-essential
vim
python
python-dev
python3
python3-dev
python3-pip
libpython2.7-dev
python-pip
clang
curl
htop
libasound2-dev
libusb-1.0-0-dev
libgl1-mesa-dev
xorg-dev
libyaml-cpp0.5v5
libyaml-cpp-dev
freeglut3
freeglut3-dev
libboost-dev
cmake
python-nose
python-setuptools
ros-melodic-tf
ros-melodic-tf2
ros-melodic-tf2-ros
ros-melodic-tf2-eigen
ros-melodic-tf2-geometry-msgs
ros-melodic-tf2-py
ros-melodic-tf2-msgs
ros-melodic-tf2-server
ros-melodic-tf2-relay
ros-melodic-catkin
ros-melodic-cv-camera
ros-melodic-image-geometry
ros-melodic-video-stream-opencv
ros-melodic-vision-opencv
ros-melodic-cv-bridge
python-cv-bridge
ros-melodic-image-transport
ros-melodic-image-transport-plugins
ssh
libopenmpi-dev
zlib1g-dev
python3-catkin-pkg-modules
python3-rospkg-modules
python3-yaml