name: ambf-1.0


on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
  
    steps:
      - uses: actions/checkout@v2
      
      - name: Build docker image
        run: |
          docker build --tag=ambf .

